<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.demo.dao.UserMapper">
<!-- public List<User> userList();-->
    <select id="userList" resultType="com.gem.demo.entity.User">
        select * from user
    </select>
</mapper>